:root {
  --base-work-area: #2d2c31;
  --base-menu-top: #2b2a2e;
  --base-menu-left: #2b2a2e;
  --base-menu-left-sub: white;
  --base-anchor-color: #e4e4e6;
  --base-anchor-fontSize: 0.9em;
  --base-success: green;
  --base-danger: #e81123;
  --base-primary: #007bff;
  --base-primary-color: #fff;
  --base-status-background: #007bff;
  --base-status-color: white;
  --base-icon-hover: #007bff;
  --base-grid-bg-hover: #09c6ffe3;
  --base-grid-color-hover: #fff;
  --base-axis-color: #fff;
  --base-chart-grid-color: #444;

  /* --base-work-area: white;
--base-menu-top:white;
--base-menu-left:white;
--base-menu-left-sub:white;
--base-anchor-color:black;
--base-anchor-fontSize:0.9em;
--base-success:green;
--base-danger:#e81123;
--base-primary:#007bff;
--base-status-background:#007bff;
--base-status-color:white; */
}

body {
  background: var(--base-work-area) !important;
  /* font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif !important;
    font-size: 0.750em !important;  */
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif !important;
  font-size: 81.25% !important;
  color: var(--base-anchor-color) !important;
  overflow-x: hidden;
  font-weight: bold !important;
}

.text-theme {
  color: var(--base-anchor-color) !important;
}

a {
  color: var(--base-anchor-color) !important;
}
.dropdown-trans {
  background-color: inherit !important;
}
.btn-custom {
  display: inline-block;
  font-weight: 400;
  /* color: #212529; */
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;

  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-custom-primary {
  padding: 0.25rem 0.9rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
  color: var(--base-primary-color);
  background-color: var(--base-primary);
  border-color: var(--base-primary);
}

.btn-custom-success {
  padding: 0.15rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
  color: #fff;
  background-color: var(--base-success);
  border-color: var(--base-success);
}

.btn-custom-danger {
  padding: 0.15rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
  color: #fff;
  background-color: var(--base-danger);
  border-color: var(--base-danger);
}

.btn-primary-props {
  background-color: var(--base-primary) !important;
  color: var(--base-primary-color) !important;
}

.k-button {
  color: var(--base-primary-color) !important;
  background-color: var(--base-primary) !important;
  padding: 0.25rem 0.9rem !important;
  border-radius: 0 !important;
  font-size: 0.875rem !important;
  text-transform: none !important;
  font-weight: bold !important;
}

hr {
  border-top: 1px solid var(--base-anchor-color) !important;
}

label {
  color: var(--base-anchor-color);
}

input[type="text"]::placeholder {
  /* Firefox, Chrome, Opera */
  color: var(--base-anchor-color);
}

input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--base-anchor-color);
}

input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--base-anchor-color);
}

input[type="password"]::placeholder {
  /* Firefox, Chrome, Opera */
  color: var(--base-anchor-color);
}

input[type="password"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--base-anchor-color);
}

input[type="password"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--base-anchor-color);
}

.form-control {
  background-color: inherit !important;
  color: var(--base-anchor-color) !important;
}
.form-control-sm {
  border-radius: 0 !important;
}

.k-colorpicker .k-picker-wrap {
  border: 0;
  /* background-color: var(--base-anchor-color); */
  background-color: grey;
}

.k-colorpicker .k-picker-wrap .k-select {
  padding: 6px 4px;
}
.k-colorpicker .k-selected-color {
  margin: 6px;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  width: 1.1285714286em;
  height: 1.1285714286em;
  overflow: visible;
}

.k-dropdown .k-dropdown-wrap,
.k-dropdowntree .k-dropdown-wrap {
  color: var(--base-anchor-color) !important;
}
.k-checkbox {
  border-color: var(--base-anchor-color) !important;
}

.k-checkbox:checked {
  border-color: var(--base-primary) !important;
  color: #fff;
  background-color: var(--base-primary) !important;
}

.k-widget {
  /* border-color:var(--base-anchor-color); */
  color: var(--base-anchor-color) !important;
  background-color: var(--base-work-area) !important;
}

.k-window {
  color: var(--base-anchor-color) !important;
  background: var(--base-work-area) !important;
}
.k-window-titlebar {
  background-color: var(--base-menu-top) !important;
}

.k-grid td.k-state-selected,
.k-grid tr.k-state-selected {
  background-color: var(--base-primary) !important;
}
.k-state-selected {
  background-color: var(--base-menu-top) !important;
  color: var(--base-anchor-color) !important;
}
.k-popup {
  background-color: var(--base-work-area) !important;
  color: var(--base-anchor-color) !important;
}

.k-colorpicker .k-selected-color {
  border-color: var(--base-anchor-color) !important;
}

.k-list .k-item:hover,
.k-list .k-item.k-state-hover,
.k-list-optionlabel:hover,
.k-list-optionlabel.k-state-hover {
  color: var(--base-anchor-color) !important;
  background-color: var(--base-menu-top) !important;
}

.k-content {
  color: var(--base-primary);
}

.k-numerictextbox .k-numeric-wrap .k-input {
  color: var(--base-anchor-color) !important;
}

.k-textbox,
.k-textarea,
.k-input.k-textbox {
  border-color: var(--base-anchor-color);
  color: var(--base-anchor-color);
}
.k-textbox-container > .k-label,
.k-floating-label-container > .k-label {
  color: var(--base-primary) !important;
}

.k-textbox:focus,
.k-textbox.k-state-focus,
.k-textarea:focus,
.k-textarea.k-state-focus,
.k-input.k-textbox:focus,
.k-input.k-textbox.k-state-focus {
  border-color: var(--base-primary) !important;
}

.k-textbox-container::after,
.k-floating-label-container::after {
  background-color: var(--base-anchor-color);
}

/* Nishant 1-06-2020  No Wrap in Grid Column will show three dots ... */
.k-grid td {
  white-space: nowrap;
  font-weight: bold !important;
}

.react-confirm-alert-overlay {
  background: none !important;
  z-index: 100000 !important;
}
/* 25-06-2020 */
.treeViewText {
  color: var(--base-anchor-color) !important;
}

.k-animation-container {
  z-index: 20003 !important;
}

.text {
  color: var(--base-primary-color) !important;
}

/* Nishant dataSelector css */
/* .icon {
    color :var(--base-primary) !important
} */

/* .k-link{
    color: var(--base-anchor-color)!important;
} */
/* .k-grid-header-sticky {
  background-color: black !important;
} */

/* .k-grid td{
    background-color:var(--base-anchor-color)!important;
} */

/* .k-content {
  color: var(--base-primary-color) !important;
} */

.form-group {
  margin-bottom: 00.5rem;
}
.k-window-titlebar {
  padding: 10px 10px !important;
}

.k-listview-content-rows:hover {
  cursor: pointer !important;
  color: var(--base-primary-color) !important;
  background-color: var(--base-menu-top) !important;
}

.k-listview-content-rows:hover .listview-button {
  opacity: 1;
}

.k-tabstrip-items {
  text-transform: capitalize !important;
}

.k-listview {
  border-color: var(--base-primary-color) !important ;
  border-width: 0.0125rem !important;
}

.k-listview-header {
  background-color: var(--base-menu-top) !important;
  border-width: 0.13rem !important;
}

.addChannelIcon:hover {
  cursor: pointer;
}

.listview-button {
  opacity: 0;
  cursor: pointer;
}

input,
.k-datepicker .k-dateinput-wrap .k-input,
.k-datepicker .k-picker-wrap .k-input,
.k-datetimepicker .k-dateinput-wrap .k-input,
.k-datetimepicker .k-picker-wrap .k-input,
.k-timepicker .k-dateinput-wrap .k-input,
.k-timepicker .k-picker-wrap .k-input {
  color: var(--base-anchor-color) !important;
}
/*
table.k-calendar-tbody{
  color: black !important;
} */

div.k-content.k-scrollable {
  color: black !important;
}

.k-datetime-container .k-time-list-container {
  background-color: white !important;
}
div.k-datetime-footer.k-action-buttons {
  background-color: black !important;
}

div.k-time-tab.k-datetime-wrap {
  background-color: white !important;
}

.eVumaxPanelTitle {
  /* margin: 5px; */
  /* display: block; */
  line-height: 1.4;
  letter-spacing: 0.2px;
  border-left: 3px solid var(--base-anchor-color);
  background-color: rgba(189, 189, 189, 0.1);
  padding: 10px 8px 10px 17px;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.eVumaxPanelController {
  /* margin: 5px; */
  /* display: block; */
  line-height: 1.4;
  display: inline-block;
  letter-spacing: 0.2px;
  background-color: rgba(189, 189, 189, 0.1);
  padding: 10px 8px 10px 17px;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}
.eVumaxDivider{
  border-left: 3px solid var(--base-anchor-color);
  margin-top: 1px;
}

.eVumaxPanel {
  margin: 5px;
  display: block;
  background-color: rgba(189, 189, 189, 0.1);
  padding: 10px 8px 10px 17px;
}

.eVumaxPanelChart {
  /* margin: 5px; */
  /* display: block; */
  line-height: 2;
  letter-spacing: 0.2px;
  border-left: 2px solid var(--base-anchor-color);
  background-color: rgba(189, 189, 189, 0.06);
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.loadingStatus:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

.process-dual-ring {
  display: inline;
  width: 15px;
  height: 15px;
  margin-top: 3px;
}
.process-dual-ring::before {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  margin: 3px;
  border-radius: 50%;
  border: 1.5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: process-dual-ring 1.2s linear infinite;
}
@keyframes process-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidenOverFlow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-error-circle {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABg0lEQVQ4T62Tz0oCURTGv+NALdIB8QVaZ3+2jq4iWhjowq0LFwUVUUL0GmWFUYsCfQEXCgUhLf2zEFxo695gcEwEZebEHWemcXRh0uzuN+f87vnuOYfg+VhRtsB8BKI9AOvW7y8AVRA9U63WcaeQfeB4fBW9Xg7MxwB8XrB5ZtZB9ARNu6RudyQkE2Amq+obiHbnJs6KH9C0uIBMAIryCOBkwWQ7LE/1+jmZnoG2XfYgkYAeCkEuFKZ4/XQaNBzCXypNdGFHknaII5E7EF3Y0Vomg0EyibVyGXKxaMrzNCs+JyroAthwX+dOELoX6MQyd0QFfRD5vf5Fyd+plCmvVSozliwbfQHQQBRYCgBo/2BBUW4BZJd6RKIb4mh0E4bRBpFkP5geDDodcIMlVTW747SRedsepDyAsz8NEvM9NRrZCSAcXkEg8Got0CKcKkajA2q1xr/LJCCyfA3mU9vODElMH/CA8fhKJDvL5A7kWCwMwzgE8/7UOvt879D1F2o2P93xP0EPwI6tJCnqAAAAAElFTkSuQmCC");
  height: 16px;
  width: 16px;
  margin-top: 6px;
  background-repeat: no-repeat;
}

.icon-success-circle {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABqklEQVQ4T5VTwUpbQRQ95yW8tzEUV2m6cqEopuqi4q4UERf6C+KiKFhprTXJB+QDmsSWlIooLsRfUJAgdisKLowJuHEXu+gmMdJEMldm7Etfw4tJZzEwZ8495965c4mWFS6sjVjkIsgpiPSZa/IagpxS3Po5/PnCG0L30H+14tzdOxmhWgJptQqbs6BBYKNXhWL5aLJutPVmghv2gQCTvoEtIEUd9apnM1rECESK8e8A3nUT7HKEkr0ZTK/Q1Ayet027naqgIUqNMVKMfQH4sZP7B+c1qqhhp3bylyoqw0ghlgc5/JTAJ+cN5p1x7NZOsV774aHKBSPFeAVAj4vO2a8QtkJI/z42kHZ+60xgr37WxDwpVHQJZYAhF/S6aczf+Q9bUPYtwXXVNH/nZi9MCesAVlvfQIvYDPik7X0Cphm+TLy0KOcgAp068c+9bmMQo+YjvSjEs0K8/y8ByNfSUHrVCETzSftXoLJPYKorEUGuVK3MYnzzvjlMRiRYTlFxuW05ggYo30q3twkd3Bwmr+vz/FqUFhZATgN8HGfINcQ6lKBs3wykLr38BzozpR+USK7EAAAAAElFTkSuQmCC");
  height: 16px;
  width: 16px;
  margin-top: 6px;
  background-repeat: no-repeat;
}

.icon-ready {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAeklEQVQ4jc3SMQ6CUBCEYUIPd+AgcBfxOCinkdbCQg7jCbT5LHwJhMq3JoZpN/l3dnaKYnfChBlNFHDz0QNtBFAlF/BEH4GUOFt0QhkB9XglyAVVBNKlPOC6nefbytx+DJ2QQhxXIQ5fh4h688ZDru2fizThHq7y3/UGFRW0BYtfW4YAAAAASUVORK5CYII=");
  height: 16px;
  width: 16px;
  margin-top: 6px;
  background-repeat: no-repeat;
  color: white;
}

.drillingSummaryContainer {
  display: flex; /* or inline-flex */
  /* flex-direction: row; */
  justify-content: flex-end;
  width: 100%;
  flex-wrap: wrap;
}
.summary-item {
  line-height: 2;
  letter-spacing: 0.2px;
  border-left: 2px solid #fff;
  background-color: rgba(189, 189, 189, 0.06);
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  margin-right: 10px;
}

.statusCard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--base-menu-top);
  background-clip: border-box;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 10px;
  border-radius: 5px;
  height: 70px;
}
.statusCard > .card-body {
  margin: 0px 15px !important;
  border-left: 3px solid #fff;
  padding: 5px 15px !important;
  border-radius: 2px;
}

.statusCard > .card-body > .card-subtitle {
  font-style: italic !important;
  font-weight: bold !important;
}

.axis-title {
  fill: var(--base-anchor-color) !important;
}

.pieDetails {
  border: 1px solid grey;
  padding: 2px;
}

.pieHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: var(--base-menu-top); */
  background-color: gray;
  margin-left: 10px;
  background-clip: border-box;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 2px;
  border-radius: 5px;
  height: 30px;
}
.pieBody {
  margin: 0px !important;

  padding: 5px 5px !important;
  border-radius: 2px;
}

.connInfo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--base-anchor-color);
  text-decoration: underline;
  font-weight: bold !important;
}
.k-i-close {
  color: var(--base-anchor-color) !important;
}

.VersionLogContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.VersionLogoText {
  color: var(--base-anchor-color);
  font-size: 40px;
}
.VersionDetailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--base-anchor-color);
  font-size: 1.2em;
}
.VersionDateTimeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--base-anchor-color);
  font-size: 1.2em;
}
.VersionButtonOk {
  display: inline;
  height: 20px;
  width: 50px;
  background-color: inherit;
  color: var(--base-anchor-color);
}

.eVumaxBorder {
  border: 1px solid var(--base-anchor-color) !important;
  border-width: thin;
}

.k-grid-header-sticky {
  /* background-color: inherit !important; */
}

/* prath */
.chart_grid_color {
  stroke: var(--base-chart-grid-color) !important;
}

.k-grid-header th.k-grid-header-sticky,
.k-grid-header td.k-grid-header-sticky,
.k-grid-header .k-grid-header-sticky.k-sorted {
  background-color: var(--base-menu-top) !important ;
}

.k-master-row.k-alt .k-grid-content-sticky {
  color: var(--base-anchor-color) !important ;
  background-color: var(--base-menu-top) !important ;
}

.k-master-row .k-grid-content-sticky {
  color: var(--base-anchor-color) !important ;
  background-color: var(--base-menu-top) !important ;
}

.k-dropdown .k-dropdown-wrap .k-select,
.k-dropdowntree .k-dropdown-wrap .k-select {
  color: var(--base-anchor-color) !important ;
}
