<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <system.web.extensions>
    <scripting>
      <webServices>
        <!--Update this value to change the value to 
                    a larger value that can accommodate your JSON 
                    strings-->
        <jsonSerialization maxJsonLength="86753090" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    
	      <add name="VuMax" connectionString="Provider=SQLNCLI11;Data Source=AbrnfR07/Biatkn9cVy6/qO+9HVE5TdJUD2kvwy/4r0=; User Id=Nx1gtrAuQN3jghYZG8jHYQ==;Password=UBj19ZvlaaUasZuWUVdRVg==;MARS Connection=True;Database=VuMaxDR;"/>
    <!--<add name="VuMax" connectionString="Provider=SQLNCLI11;Data Source=05dlZS7ubE4CwttKp3+P2PCtzp+EnnRfZbV3sEpWbI9bYf7I1tmZsl8yQz2rYjtzXj3Ppq4xmEik9d50d/pGvZStwkihUNs7tdDlnbCSh6s=; User Id=p5q1ew+zI2pWjy7scUNubg9oFZfPwwuxW+B2m+tknks80LE0e0jDFwtWy6FO5Utm;Password=JZFkAnnvMe5YSxjp+LdUT6WEOyo1vWta8fpgDnw2YQ7h5ZTg/ck52jrjDSXW8CQmcgqVRcrCfOny+ToOqYgcAw==;MARS Connection=True;Database=VuMaxDR;"/>-->
  </connectionStrings>

  <!--0 = WindowsUser 1=VuMaxDBUser-->
  <appSettings>
   <add key="AuthType" value="1" />
</appSettings>


  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151000" maxUrl="2097151000" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
      
  <httpRuntime maxQueryStringLength="332768" maxUrlLength="365536"/>
  -->
  <system.web>
      
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxQueryStringLength="2097151" maxUrlLength="2097151" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>



  <log4net>

    <appender name="API" type="log4net.Appender.RollingFileAppender">
      
      <file value="C:/log/eVuMaxAPILog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>


    <appender type="log4net.Appender.RollingFileAppender" name="clientSideLogger">
      <file value="C:/log/eVuMaxClientSideLog.txt" />
     <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    
    </appender>
    
    <logger name="eVuMaxAPILog" additivity="false">
      <appender-ref ref="API" />
    </logger>

    <logger name="eVuMaxClientSideLog" additivity="false">
      <appender-ref ref="clientSideLogger" />
    </logger>
  
  </log4net>
</configuration>
