<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="dir_eVuMaxUI">
            <Component Id="cmp1A9E5BDB23656FC836A2237FDA84672C" Guid="{D46001B9-72D7-4DD9-B788-61CDC4AD3E6E}">
                <File Id="filC2BF1F13316CA4C637632A710F6C1AC6" KeyPath="yes" Source="$(loc.eVuMaxUI)\asset-manifest.json" />
            </Component>
            <Component Id="cmp3878E92A0173FA55C1D79A3C2CD8F959" Guid="{3E5F7B08-AD60-45C1-9B49-15CB56D89316}">
                <File Id="filEB74AB282F59E74A3ED2E7B904267B91" KeyPath="yes" Source="$(loc.eVuMaxUI)\favicon.ico" />
            </Component>
            <Component Id="cmp6E5820925FE16580CF2175BF860285C4" Guid="{B0494E61-A96B-4EB3-8BE6-D20675A7009E}">
                <File Id="fil3B71006A4B7BFC07CC8A7706B8A8334C" KeyPath="yes" Source="$(loc.eVuMaxUI)\index.html" />
            </Component>
            <Component Id="cmpE92328B54693BF704C036E87C17C267B" Guid="{99B68815-2349-45AD-AD08-ED1597B94725}">
                <File Id="fil0E4AE4A4341B26DDBB83A954DDE3D1F1" KeyPath="yes" Source="$(loc.eVuMaxUI)\logo192.png" />
            </Component>
            <Component Id="cmp7DD890979C25E7AEC9B5273D623EB9EC" Guid="{1771D00C-D415-4B40-AEF5-3363F69B315E}">
                <File Id="filEE72DEB8B2496648FC55D28B2470DB06" KeyPath="yes" Source="$(loc.eVuMaxUI)\logo512.png" />
            </Component>
            <Component Id="cmp0DE339AB6D73EA8394DF7FE60F8CA5B1" Guid="{03F89061-916B-476E-96D5-D0BA9D102817}">
                <File Id="fil3C63250B4E7EF4BD3F345A68D01E740A" KeyPath="yes" Source="$(loc.eVuMaxUI)\manifest.json" />
            </Component>
            <Component Id="cmpBAEDF85BD786F436E853741638328878" Guid="{DE399537-6EB5-4FA2-886C-F8E068441A8F}">
                <File Id="fil49476E0169D812BE99203DF3498151F9" KeyPath="yes" Source="$(loc.eVuMaxUI)\robots.txt" />
            </Component>
            <Component Id="cmp044090B33DD3B108550A03C8D7258439" Guid="{F67D3FD8-4DB3-4F45-A9A4-4FE97A011D58}">
                <File Id="fil1BFC38F108576DF1092539A63407C201" KeyPath="yes" Source="$(loc.eVuMaxUI)\vumaxfavicon.ico" />
            </Component>
            <Directory Id="dirAB3623110AEA13D272FE1983D54F46B5" Name="static">
                <Directory Id="dir6908F2F4CFB90617561AAA02B681656A" Name="css">
                    <Component Id="cmp824764904091EE0AEBFDCC5819DE42BB" Guid="{F0A5B228-D108-4C46-9BAB-4B3E9C07FA32}">
                        <File Id="filD579BF243FBB639F2FD996B1771684FE" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\css\2.6f9ce932.chunk.css" />
                    </Component>
                    <Component Id="cmp4F32C9D48452BA7A9C579ED32DF29175" Guid="{BEA59468-F063-4079-B5EA-1FC8F24FA799}">
                        <File Id="filCFAE76A4578720712CB716AAD32062C7" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\css\2.6f9ce932.chunk.css.map" />
                    </Component>
                    <Component Id="cmpE3600B08B65DD0165813C7E9349839DD" Guid="{8887E99D-D751-4882-B2D4-8F4769D5C0A4}">
                        <File Id="fil26CF5CB668F873924832DAADB64C771A" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\css\main.c1fb2208.chunk.css" />
                    </Component>
                    <Component Id="cmpB9205A4988CEDF3C245E68C384ED53D9" Guid="{1A1FFC4B-D98C-4E83-AF40-2CEFBEF9EE33}">
                        <File Id="fil80B7A0FE713E7B1E3090C0E4CC46B959" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\css\main.c1fb2208.chunk.css.map" />
                    </Component>
                </Directory>
                <Directory Id="dirC537F0E9D1021AFF4179EAE646093846" Name="js">
                    <Component Id="cmp97D5A0A817746B3C0A6098D2371C012D" Guid="{A4FF6BEF-AA03-443B-999C-3677E2AEB984}">
                        <File Id="filAC6F69CBD9343461C633C2FD5538023C" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\js\2.1cc65ac8.chunk.js" />
                    </Component>
                    <Component Id="cmp28D777BFB750A79B17990FAF6B657728" Guid="{B2052B9D-C7A3-4BCA-9961-023CA14DF2BA}">
                        <File Id="fil26ECFB48D048CA8834E63F7A1C4519FA" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\js\2.1cc65ac8.chunk.js.LICENSE.txt" />
                    </Component>
                    <Component Id="cmp6394D75DB70646E33F9559FEB9671D57" Guid="{E9151737-5666-4AC0-80D8-1ED0B8532851}">
                        <File Id="fil8EA1F9BB64C85759B6190A90D3BFAFED" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\js\2.1cc65ac8.chunk.js.map" />
                    </Component>
                    <Component Id="cmp6B1AAB6E7E838DC9349E4867A92EF9DF" Guid="{9B622708-8552-4B6C-969F-723F8921D137}">
                        <File Id="fil92FE4C696E138378623CC85DDD205BC7" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\js\main.6bf842ca.chunk.js" />
                    </Component>
                    <Component Id="cmpDD3D88EDBB780893583E468F35A7B097" Guid="{83E6DD92-1D6E-4969-B924-DCB69E0234EE}">
                        <File Id="filB419402678D19779901A450788CABB71" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\js\main.6bf842ca.chunk.js.map" />
                    </Component>
                    <Component Id="cmp1DBD79BFE8C23C94A32522128BADCF9F" Guid="{6E8A51ED-3519-4390-87FE-FA4908A14471}">
                        <File Id="filD234FA8A51188A62CEBDE7BBADE04A28" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\js\runtime-main.582f3784.js" />
                    </Component>
                    <Component Id="cmpD1C3A6EC198B6F719CAF12B0E77CCF16" Guid="{9B2107C1-8364-4AF0-B9AD-B146CDB9BD5F}">
                        <File Id="fil623BF990D2BB05954297E05A4E59EC05" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\js\runtime-main.582f3784.js.map" />
                    </Component>
                </Directory>
                <Directory Id="dir304E7CC23ACDB014379F3EC32786D6DD" Name="media">
                    <Component Id="cmp7546DE108BD3EAD970AB72F8ADAB99CA" Guid="{9EDB8CE3-59DC-4A9C-AAEC-7CCFC2A37846}">
                        <File Id="fil5F25B2B524F911CE9CC48456D1325E70" KeyPath="yes" Source="$(loc.eVuMaxUI)\static\media\downloading-blue.1d117764.gif" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WebUIComponents">
            <ComponentRef Id="cmp1A9E5BDB23656FC836A2237FDA84672C" />
            <ComponentRef Id="cmp3878E92A0173FA55C1D79A3C2CD8F959" />
            <ComponentRef Id="cmp6E5820925FE16580CF2175BF860285C4" />
            <ComponentRef Id="cmpE92328B54693BF704C036E87C17C267B" />
            <ComponentRef Id="cmp7DD890979C25E7AEC9B5273D623EB9EC" />
            <ComponentRef Id="cmp0DE339AB6D73EA8394DF7FE60F8CA5B1" />
            <ComponentRef Id="cmpBAEDF85BD786F436E853741638328878" />
            <ComponentRef Id="cmp044090B33DD3B108550A03C8D7258439" />
            <ComponentRef Id="cmp824764904091EE0AEBFDCC5819DE42BB" />
            <ComponentRef Id="cmp4F32C9D48452BA7A9C579ED32DF29175" />
            <ComponentRef Id="cmpE3600B08B65DD0165813C7E9349839DD" />
            <ComponentRef Id="cmpB9205A4988CEDF3C245E68C384ED53D9" />
            <ComponentRef Id="cmp97D5A0A817746B3C0A6098D2371C012D" />
            <ComponentRef Id="cmp28D777BFB750A79B17990FAF6B657728" />
            <ComponentRef Id="cmp6394D75DB70646E33F9559FEB9671D57" />
            <ComponentRef Id="cmp6B1AAB6E7E838DC9349E4867A92EF9DF" />
            <ComponentRef Id="cmpDD3D88EDBB780893583E468F35A7B097" />
            <ComponentRef Id="cmp1DBD79BFE8C23C94A32522128BADCF9F" />
            <ComponentRef Id="cmpD1C3A6EC198B6F719CAF12B0E77CCF16" />
            <ComponentRef Id="cmp7546DE108BD3EAD970AB72F8ADAB99CA" />
        </ComponentGroup>
    </Fragment>
</Wix>